<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="<?php echo Yii::app()->request->baseUrl; ?>/css/home/main.css"/>
    </head>
    <body>
           <div id="search_form">
        <form>
            <input type="text"></input>
        </form>
    </div>
        <?php
        // put your code here
        foreach ($model as $model)
?>
    <li>
         <a href="<?php echo $this->createUrl('/site/hotel', array('id' =>$model->id)) ?>"><?php echo $model->name?></a>
         
         <form method="post" action="http://localhost/hotel6/index.php/comments/create">
             <table>
                 <input type="text" style="width: 10px" name="hotel_id" value="<?php  echo $model->id?>"
                
                 <tr><?php // echo $model->id ; ?></tr>
                 <tr><input type="submit" name="danhgia" value="Đánh giá"></tr>
             </table>
                
            </form>
    </li>
        
        
        

    </body>
</html>
